{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(formTrick) }}
                {{ form_widget(formTrick._token) }}
                {{ form_errors(formTrick) }}
                {{ form_row(formTrick.title) }}
                <div class="row">
                    <div class="col-6">
                        <div class="my-1">
                            <strong>Photo(jpeg,png) :</strong>
                            <button type="button" class="btn btn-sm btn-primary btn-add-image" data-rel="#illustrations"><i class="fa fa-plus"></i> Ajouter</button>
                        </div>

                        <div id="illustrations" class="row mt-4" data-index="{{ formTrick.illustrations|length > 0 ? formTrick.illustrations|last.vars.name+1 : 0 }}" data-prototype="{{ include("partials/_image.html.twig", { form: formTrick.illustrations.vars.prototype })|e("html_attr") }}">

                            {% for illustration in formTrick.illustrations%}
                                {{ include("partials/_image.html.twig", { form: illustration }) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="my-1">
                            <strong>Video(code integré) :</strong>
                            <button type="button" class="btn btn-sm btn-warning btn-add-video" data-rel="#videos"><i class="fa fa-plus"></i> Ajouter</button>
                        </div>

                        <div id="videos" class="row mt-4" data-index="{{ formTrick.videos|length > 0 ? formTrick.videos|last.vars.name+1 : 0 }}" data-prototype="{{ include("partials/_video.html.twig", { form: formTrick.videos.vars.prototype })|e("html_attr") }}">
                            {% for video in formTrick.videos%}
                                {{ include("partials/_video.html.twig", { form: video }) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {{ form_row(formTrick.category) }}
                {{ form_row(formTrick.description) }}
                {{ form_row(formTrick.published) }}

                <div class="row">
                    <div class="col col-md-auto">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-floppy-o"></i>
                            {% if editMode %}
                                Enregistrer
                            {% else %}
                                Ajouter
                            {% endif %}
                        </button>
                        {{ form_end(formTrick, { "render_rest": false }) }}
                    </div>
                    {% if editMode %}
                        <div class="col col-md-auto">
                            <form method="post" action="{{ path('trick.delete', {id: formTrick.vars.value.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.request.get('id')) }}">
                                <button class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Display picture after add
        function readURL(input) {
            var index =(input.id).split("_");
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                inputId = "#illustration-holder-" +index[2]
                reader.onload = function (e) {
                    $(inputId)
                        .attr('src', e.target.result)
                        .width(120)
                        .height(120);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        // Show name of file in input placeholder
        $('.custom-file-input').on('change', function(event) {
                var inputFile = event.currentTarget;
                readURL(inputFile);
                $(inputFile).parent()
                    .find('.custom-file-label')
                    .html(inputFile.files[0].name);
            });

        // Add illustration
        $(".btn-add-image").on("click", function() {
            //get the number of future fields
            var $collectionHolder = $($(this).data("rel"));
            var index = $collectionHolder.data("index");

            //get the prototype of the inputs
            var prototype = $collectionHolder.data("prototype");

            // inject code into the div
            $collectionHolder.append(prototype.replace(/__name__/g, index));

            // show name of file in input placeholder
            $('.custom-file-input').on('change', function(event) {
                    var inputFile = event.currentTarget;
                    readURL(inputFile);
                    $(inputFile).parent()
                        .find('.custom-file-label')
                        .html(inputFile.files[0].name);
                });

            $collectionHolder.data("index", index+1);
        });

        // Add Video
        $(".btn-add-video").on("click", function() {
            var $collectionHolder = $($(this).data("rel"));
            var index = $collectionHolder.data("index");
            var prototype = $collectionHolder.data("prototype");
            $collectionHolder.append(prototype.replace(/__name__/g, index));

            $('#trick_videos_'+ index+'_embed_code').on('change', function(event) {
                var embedCode = event.currentTarget;

                //adjust width & height in iframe
                embedCode.value = embedCode.value.replace(/width=\"\d+\"/gi, 'width="130"');
                embedCode.value = embedCode.value.replace(/height=\"\d+\"/gi, 'height="120"');

                $(embedCode).parent().parent().find('.text-center').prepend(embedCode.value);
            });
            $collectionHolder.data("index", index+1);
        });

        $("body").on("click", ".btn-remove", function() {
            $($(this).data("rel")).remove();
        })
    </script>
{% endblock %}