{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3 align-items-center">
            <div class="col-3 text-center"><img src="{{ asset('images/' ~ user.avatar.filename) }}" alt="Avatar de {{ user.fullName }}" class="mb-1 avatar">
                <br/>
                <span class="badge badge-primary">{{ user.tricks | length }} figures</span>
            </div>
            <div class="col-9">
                <h1>{{ user.fullName }}</h1>
                {% if user is same as(app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('account.profile') }}" class="btn btn-sm btn-outline-info mr-2 mb-2">Modifier mes informations</a>
                        <a href="{{ path('account.password') }}" class="btn btn-sm btn-outline-info mr-2 mb-2">Modifier mon mot de passe</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr>
        
        <h2>Les figures de {{ user.fullName }}</h2>
        {% if user.tricks | length > 0 %}
            <div class="row flex">
                {%  include 'blog/include/_pagination_tricks.html.twig' with {'tricks': pagination.data}%}
            </div>
            {% if pagination.pages > 1 %}
                {{ pagination.display() }}
            {% endif %}
        {% else %}
            <div class="alert alert-warning">
                <p><strong>{{ user.fullName }}</strong></p> n'a pas encore de figure sur le site !
            </div>
        {% endif %}
    </div>
{% endblock %}
