{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container m-top my-auto">
        <div class="row mt-5 justify-content-center jumbotron">
            {% include'partials/_flashes.html.twig' %}
            <div class="col-md-3 col-sm-12 text-center"><img src="{{ asset(user.avatar.path) }}" alt="{{ user.fullName }}" class="mb-1 avatar">
                <div class="row">
                    <div class="col-5 pr-0 ">
                        <span class="badge badge-warning py-1 mt-1 w-100"><i class="fa fa-marker text-info"></i> <span class="bg-main">{{ user.tricks | length }} </span>figures</span>
                    </div>
                    <div class="col-7 ">
                        <span class="badge badge-dark py-1 mt-1 w-100"><i class="fa fa-comment-dots text-info"></i> <span class="bg-main">{{ user.comments | length }} </span>commentaires</span>
                    </div>
                    <div class="col-12">
                        {% set now = "now"|date() %}
                        {% set difference = date(now).diff(date(user.createdAt)) %}
                        {% set leftDays = difference.days %}
                        <span class="badge badge-success w-100 py-1 mt-1"> <i class="fa fa-history text-warning"></i> Membre depuis <span class="bg-main">
                        {% if leftDays == 1 %}
                                1 </span>jour
                        {% else %}
                            {{ leftDays }} </span>jours
                        {% endif %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 text-center">
                <div class="col-sm-12 mt-5">
                    <h1 class="titre-content mb-5 text-center">{{ user.fullName }}</h1>
                </div>
                {% if user is same as(app.user) %}
                    {% set connected = true %}
                    <div class="">
                        <a href="{{ path('account.profile') }}" class="btn btn-dm btn-warning btn-nav mr-2 mb-2">Modifier profil</a>
                        <a href="{{ path('account.password') }}" class="btn btn-dm btn-warning btn-nav mr-2 mb-2">Modifier mot de passe</a>
                        <a href="{{ path('trick.create') }}" class="btn btn-dm btn-warning btn-nav mr-2 mb-2">Créer figure</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <hr class="my-border">
        <h3 class="my-heading text-center my-5"> <span class="bg-main">{% if connected is defined  %}MES FIGURES</span>{% else %}LES FIGURES DE {{ user.fullName }}{% endif %}</h3>
        {% if user.tricks | length > 0 %}
            <div class="row d-flex justify-content-center ">
                {%  include 'blog/include/_pagination_tricks.html.twig' with {'tricks': pagination.data}%}
            </div>
            {% if pagination.pages > 1 %}
                {{ pagination.display() }}
            {% endif %}
        {% else %}
            <div class="alert alert-warning">
                <p><strong>{{ user.fullName }}</strong></p> n'a pas encore de figure sur le site !
            </div>
        {% endif %}
    </div>
{% endblock %}


