{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe {% endblock %}

{% block body%}
    <div class="container justify-content-center vertical-center m-bottom">
        <div class="row">
            <div class="col-sm-12" id="create-account-title">
                <h3 class="titre-content mb-5 text-center"><span class="bg-main">M</span>ODIFICATION DU MOT DE PASSE</h3>
            </div>
            <div class="col-12">
                <div class="user_card w-100">
                    <div class="d-flex justify-content-center">
                        <div class="brand_logo_container">
                            <img src="{{ asset(app.user.avatar.path) }}" class="brand_logo" alt="Logo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center form_container px-5">
                        <div class="row mx-md-5">
                            <div class="col-sm-12">
                                {{ form_start(form) }}
                                <div class="input-group mb-3">
                                    {{ form_errors(form.oldPassword) }}
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-lock-open"></i></span>
                                    </div>
                                    {{ form_widget(form.oldPassword) }}
                                </div>
                                <div class="input-group mb-2">
                                    {{ form_errors(form.newPassword) }}
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                                    </div>
                                    {{ form_widget(form.newPassword) }}
                                </div>
                                <div class="input-group mb-2">
                                    {{ form_errors(form.confirmPassword) }}
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                    </div>
                                    {{ form_widget(form.confirmPassword) }}
                                </div>
                                <div class="d-flex justify-content-center mt-4 mb-5">
                                    <button type="submit" class="btn btn-warning btn-nav btn-block">Modifier Mot de Passe</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}