{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe !{% endblock %}

{% block body %}
<div class="container justify-content-center vertical-center m-bottom">
    <div class="row">
        <div class="col-sm-12" id="create-account-title">
            <h3 class="titre-content mb-5 text-center"><span class="bg-main">R</span>ÉNITIALISATION DU MOT DE PASSE</h3>
            {% include'partials/_flashes.html.twig' %}
        </div>
        <div class="col-12">
            <div class="user_card w-100">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="{{ asset('images/defaults/logo.png') }}" class="brand_logo" alt="logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container px-5">
                    <div class="row mx-md-5">
                        <div class="col-sm-12">
                            {{ form_start(form) }}
                            <div class="input-group mb-3">
                                {{ form_errors(form.newPassword) }}
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-unlock"></i></span>
                                </div>
                                {{ form_widget(form.newPassword) }}
                            </div>
                            <div class="input-group mb-2">
                                {{ form_errors(form.confirmPassword) }}
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                {{ form_widget(form.confirmPassword) }}
                            </div>
                            {{ form_row(form._token) }}
                            <input type="hidden" name="resetToken" value="{{ token }}">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="d-flex justify-content-center mt-4">
                                <button type="submit" class="btn btn-warning btn-nav btn-block">Confirmer Mot de Passe</button>
                            </div>
                            {{ form_end(form, { "render_rest": false }) }}
                        </div>
                        <div class="col-sm-12">
                            <div class="mt-4">
                                <div class="d-flex justify-content-center links text-white">
                                    Vous n'avez pas de compte? <a href="{{ path('security.register') }}" class="ml-2 normal-link">S'inscrire</a>
                                </div>
                                <div class="d-flex justify-content-center links">
                                    <a class="float-right normal-link"  href="{{ path('security.forgotten_password') }}">mot de passe oublié?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
