{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe !{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 mt-5">
                <div class="bg-light py-3 px-3">
                    <h1 class="text-center mb-5 mt-4">Réinitialisation de votre mot de passe</h1>
                    {{ form_start(form) }}
                    {{ form_row(form.newPassword) }}
                    {{ form_row(form.confirmPassword) }}
                    {{ form_row(form._token) }}
                    <input type="hidden" name="resetToken" value="{{ token }}">
                    <div class="form-group my-4">
                        <button type="submit" class="btn btn-success btn-block">Réinitialiser mot de passe</button>
                    </div>
                    {{ form_end(form, { "render_rest": false }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
