<nav class="navbar navbar-expand-lg navbar-light bg-warning">

    <a class="navbar-brand font-weight-bold" href="#">J.S. Snowboard Trick</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="ml-5 mr-5 collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'home' %}font-weight-bold active {% endif %}" href="{{ path('blog.home') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_menu is defined and current_menu == 'show' %}font-weight-bold active {% endif %}"  href="#">Tricks <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {#{% if app.user %}#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="accountDropdownLink" data-toggle="dropdown">
                        <img class="avatar avatar-small" src="{{ asset('images/' ~ app.user.avatar.filename) }}" alt="avatar de {{ app.user.fullName }}"> {{ app.user.fullName }}
                    </a>
                    <div class="navbar-light bg-warning dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        <a href="{{ path('trick.create') }}" class="dropdown-item">Créer une Figure</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item {% if current_menu is defined and current_menu == 'index' %}font-weight-bold {% endif %}" href="{{ path('account.index') }}"><span class="sr-only">(current)</span>Mon Compte</a>
                        <a class="dropdown-item {% if current_menu is defined and current_menu == 'profile' %}font-weight-bold {% endif %}" href="{{ path('account.profile') }}"><span class="sr-only">(current)</span>Mdifier mon profil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('security.logout') }}"><span class="sr-only">(current)</span>Déconnexion</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if current_menu is defined and current_menu == 'register' %}font-weight-bold active{% endif %}" href="{{ path('account.register') }}"><span class="sr-only">(current)</span>Inscription</a>
                </li>
                <li class="nav-item {% if current_menu is defined and current_menu == 'login' %}font-weight-bold active {% endif %}">
                    <a class="nav-link" href="{{ path('security.login') }}"><span class="sr-only">(current)</span>Connexion</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>

{% for label, messages in app.flashes%}
    <div class="container mt-5">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw}}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}