{% for comment in comments %}
<div class="mt-3 p-3 wow fadeInUp" data-wow-duration="4s">
    <div class="row">
        <div class="col-sm-2 p-0">
            <a href="{{ path('user.show', {'username': comment.author.username}) }}">
                <img src="{{ asset(comment.author.avatar.path) }}" alt="{{ comment.author.fullName }}" class="mb-5 avatar float-right">
            </a>
        </div>
        <div class="comment-container col-sm-10 my-5">
            <div class="row">
                <p class="col-12 float-left h4 commenter">
                    <strong>{{ comment.author.fullName }}</strong> :
                </p>
                <div class="col-12 h5 ml-2">
                    {{ comment.content }}
                </div>
                <div class="col-12">
                    <small class="font-weight-bold mt-3 float-right text-info">Le {{ comment.createdAt| format_datetime(pattern="dd/MM/YYYY 'à' hh:mm")}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}