<div class="card mb-4">
    <div class="card-body">
        <h5 class="h1 card-title text-center">
            <a href="{{ path('blog.show', {slug: trick.slug, id: trick.id}) }}">
                {{ trick.title }}
            </a>
        </h5>
        <p class="card-text display-5">{{ trick.description}}</p>
        <div class="row float-right">
            <div class="col-12 blockquote-footer">
                Créer le {{ trick.createdAt | format_datetime(locale='fr') }}
            </div>
            <div class="col-12">
                Créer par
                <a href="{{ path('user.show', {'username': trick.author.username}) }}">
                    <span class="badge badge-warning">{{ trick.author.username }}</span>
                </a>
            </div>
        </div>
    </div>
</div>