{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }} {% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Jimmy S. Snowboard Tricks</h1>
        <p>loCollectives harvest from attitudes like ancient species.Vox, verpa, et planeta.Fluff seven rhubarbs, squid, and brown sugar in a large pan over medium heat, refrigerate for twelve minutes and jumble with some quinoa.</p>
    </div>

    <div class="container">
        <h2>Tous les Tricks</h2>
        {% set pagesNumber = pagination.pages %}
        {% if app.user %}
            <a href="{{ path('trick.create') }}" class="mb-5 btn btn-success"><i class="fa fa-plus"> Ajouter nouvelle figure</i></a>
        {% endif %}
    <div class="row flex load-content" data-pages = {{ pagesNumber }} id="tricks"></div>
    {% if pagesNumber > 0 %}
        {{ pagination.display() }}
    {#{% else %}#}

    {% endif %}
    </div>

{% endblock %}
{% block javascripts%}
    {#pagination Tricks#}
    {{ encore_entry_script_tags('loadMore') }}
{% endblock %}
