{% extends 'base.html.twig' %}

{% block title %}Tricks - {{ parent() }} {% endblock %}

{% block body %}
    <div class="container text-center">
        <h3 class="m-5">{{ trick.title }}</h3>
        <p >{{ trick.description }}</p>
        <div class="row float-right">
            <div class="col-12 blockquote-footer">
                Créer le {{ trick.createdAt | format_datetime(locale='fr') }}
            </div>
            <div class="col-12">
                Créer par
                <a href="{{ path('user.show', {'username': trick.author.username}) }}">
                    <span class="badge badge-warning">{{ trick.author.username }}</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

