{% extends 'base.html.twig' %}

{% block title %}Tricks - {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="section-row m-5">
            <div class="section-title">
                <h2 class="m-5 text-center">{{ trick.title }}</h2>
            </div>
            <div class="row">
                <p class="mb-3">{{ trick.description }}</p>
            </div>
            <div class="row float-right">
                <div class="col-12 blockquote-footer">
                    <a href="{{ path('user.show', {'username': trick.author.username}) }}">
                        <span class="badge badge-warning">Postée par {{ trick.author.username|title  }}</span>
                    </a>
                    le {{ trick.createdAt | format_datetime('full', 'full',locale='fr') }}
                </div>
                {% if trick.updatedBy is not empty%}
                    {% set updated=trick.updatedBy|last %}
                        <a href="{{ path('user.show', {'username': updated.author.username}) }}">
                            <h1><span class="badge badge-dark">Récemment modifié par {{ updated.author.username|title  }}</span></h1>
                        </a>
                        <span> le {{ updated.updatedAt | format_datetime('full', 'full',locale='fr') }}</span>
                {% endif %}
            </div>
        </div>

        <hr/>
        {% if app.user %}
            <div class="mt-5 alert alert-info">
                <div class="section-row">
                    <div class="section-title">
                        <h4 class="alert-heading text-center">Votre commentaire</h4>
                    </div>
                    {{ form_start(comment_form, {'action': path('add_comment', {id: trick.id}),'attr': {'id': 'formsComment'}}) }}
                    <div class="row">
                       <div class="col-md-12">
                           <div class="form-group">
                               {{ form_widget(comment_form) }}
                           </div>
                       </div>
                       <div class="col-md-12">
                           <button type="submit" id="add-comment" name="btn-1" class="btn btn-info">Ajouter</button>
                       </div>
                    </div>
                    {{ form_end(comment_form) }}
                </div>
            </div>
            <hr/>

            <div class="alert alert-warning">
                <h4 id="titre-evaluation" class="alert-heading text-center">
                    <div class="row align-items-center">
                        <div  id="comment" class="col-md-2">
                            <h4 class="alert-heading text-center"></h4>
                            {{ form_start(rating_form) }}
                            {{ form_widget(rating_form) }}
                            <button type="submit" class="btn btn-warning">Evalué !</button>
                            {{ form_end(rating_form) }}
                        </div>
                        <div class="col-md-5">
                            Évaluation globale donnée par nos utilisateurs
                        </div>
                        <div class="col-md-5">
                            {%  include 'partials/_rating.html.twig' with{ 'rating': trick.avgRatings} %}
                            <br/>
                            <small>(Calculée sur {{ trick.ratings|length }} avis !)</small>
                        </div>
                    </div>
                </h4>
            </div>
        {% else %}
            <h4 class="text-center">
                <a href="{{ path('security.login') }}" class="primary-button"> Connectez-vous </a>
                ou
                <a href="{{ path('security.register') }}" class="primary-button"> Inscrivez-vous</a>
                pour ajouter des commentaires
            </h4>
        {% endif %}
            <hr/>
            <h4 id="titre-discussions" class="my-3 text-center">
                {%  if trick.comments|length > 0 %}<span>Espace de discussion :</span>{% else %}<span class="js-no-comment">Cette figure n'a pas encore recu de commentaires ...</span>{% endif %}</h4>
            <div id="comments" class="load-content" data-pages = {{ pagination.pages }}></div>
            {% if pagination.pages > 1 %}
                {{ pagination.display() }}
            {% endif %}
    </div>
{% endblock %}

{% block javascripts%}
    {{ encore_entry_script_tags('loadMore') }}
    {{ encore_entry_script_tags('comments') }}
{% endblock %}