{% extends 'base.html.twig' %}

{% block title %}Tricks - {{ parent() }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="section-row m-5">
            <div class="section-title">
                <h2 class="m-5 text-center">{{ trick.title }}</h2>
            </div>
            <div class="row">
                <p class="mb-3">{{ trick.description }}</p>
            </div>
            <div class="row float-right">
                <div class="col-12 blockquote-footer">
                    <a href="{{ path('user.show', {'username': trick.author.username}) }}">
                        <span class="badge badge-warning">Postée par {{ trick.author.username|title  }}</span>
                    </a>
                    le {{ trick.createdAt | format_datetime(locale='fr') }}
                </div>
                {% if trick.updatedBy is not empty%}
                    {% set updated=trick.updatedBy|last %}
                    <div class="col-12 blockquote-footer">
                        <a href="{{ path('user.show', {'username': updated.author.username}) }}">
                            <span class="badge badge-dark">Récemment modifié par {{ updated.author.username|title  }}</span>
                        </a>
                        <span> le {{ updated.updatedAt | format_datetime(locale='fr') }}</span>
                    </div>
                {% endif %}
            </div>
        </div>

        <hr/>
        {% if app.user %}
        <div class="mt-5 alert alert-info">
            <div class="section-row">
                <div class="section-title">
                    <h4 class="alert-heading text-center">Votre commentaire</h4>
                </div>
                {{ form_start(comment_form, {'action': path('add_comment', {id: trick.id}),'attr': {'id': 'formsComment'}}) }}
                <div class="row">
                   <div class="col-md-12">
                       <div class="form-group">
                           {{ form_widget(comment_form) }}
                       </div>
                   </div>
                   <div class="col-md-12">
                       <button type="submit" id="add-comment" name="btn-1" class="btn btn-info">Ajouter</button>
                   </div>
                </div>
                {{ form_end(comment_form) }}
            </div>
        </div>
        <hr/>

        <div class="alert alert-warning">
            <h4 class="alert-heading text-center">
                <div class="row align-items-center">
                    <div  id="comment" class="col-md-2">
                        <h4 class="alert-heading text-center"></h4>
                        {{ form_start(rating_form) }}
                        {{ form_widget(rating_form) }}
                        <button type="submit" class="btn btn-warning">Evalué !</button>
                        {{ form_end(rating_form) }}
                    </div>
                    <div class="col-md-5">
                        Note globale donnée par nos utilisateurs
                    </div>
                    <div class="col-md-5">
                        {%  include 'partials/_rating.html.twig' with{ 'rating': trick.avgRatings} %}
                        <br/>
                        <small>(Calculée sur {{ trick.ratings|length }} avis !)</small>
                    </div>
                </div>
            </h4>
        </div>
        {% else %}
            <h2 class="text-center">Veuillez vous
                <a href="{{ path('security.login') }}" class="primary-button"> connectez-vous </a>
                ou
                <a href="{{ path('security.register') }}" class="primary-button"> inscrivez-vous</a>
                pour ajouter des commentaires
            </h2>
        {% endif %}
        {%  if trick.comments|length > 0 %}
            <hr/>
            <h2 class="my-3 text-center">Espace de discussion :</h2>
            <div id="comments"></div>
            {#{% for comment in trick.comments %}
                <div class="bg-light rounded mb-3 p-3">
                    <div class="row">
                        <div class="col-1">
                            <img src="{{ asset('images/' ~ comment.author.avatar.filename) }}" alt="Avatar de {{ comment.author.fullName }}" class="mb-1 avatar-medium">
                        </div>
                        <div class="col-10 col-offset-1">
                            <div class="row ">
                                <p class="col-12 float-left">
                                    <strong>{{ comment.author.fullName }}</strong> a dit :
                                </p>
                                <blockquote class="col-12">
                                    {{ comment.content }}
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}#}
            {% if pagination.pages > 1 %}
                {{ pagination.display() }}
                {#{% else %}#}
            {% endif %}
        {% else %}
            <h2 class="mb-3">Cette figure n'a pas encore recu de commentaires ...</h2>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts%}
    <script>

        console.log();
        $('#add-comment').on('click', function (e) {
            e.preventDefault();
            if ($('#error-comment')!= "undefined"){
                $('#error-comment').remove()
            }
            var url = $('#formsComment').attr('action');
            $.ajax({
                url: url,
                type: 'POST',
                data: $('#formsComment').serialize(),
                dataType : 'json',
                success: function (data) {
                    $('#comment_content').val('');
                    $('#comment_content').css({"border":"1px solid #ced4da", "box-shadow": "1px 1px #ced4da"})
                    $(data.comment).prependTo('#comments').hide().show('slow');

                },
                error: function (data) {
                    console.log(data.responseJSON.errors.content[0]);
                    if(data.status === 400) {
                        $('#comment_content').css({"border":"1px solid red"})
                        commentError = '<span id="error-comment" class="invalid-feedback d-block"><span class="d-block"><span class="mb-2 form-error-icon badge badge-danger">ERREUR </span><span class="form-error-message"> ' + data.responseJSON.errors.content[0]+'</span></span></span>'
                        $(commentError).insertBefore($('textarea')).hide().show('slow')
                    }
                }
            });
        });


        //pagination Comments
        function laodmore(divElt){
            var page = 1
            var incrementPages = $('span.js-label')
            $('a.js-load').on('click', function (e) {
                e.preventDefault();
                var url = this.href;
                console.log(url)
                $.ajax(
                    {
                        url: url,
                        data: {
                            page: page
                        },
                        dataType: "html",
                        beforeSend: function() {
                            incrementPages.text('...')
                        },
                        success: function(data) {
                            divElt.append(data);
                            page++;
                            if (page > {{ pagination.pages }}){
                                e.currentTarget.remove()
                            } else{
                                incrementPages.text(page)
                            }
                        },
                        error: function(e)
                        {
                            alert('Error: ' + e);
                        }
                    }
                );
            })
        }

        $( document ).ready(laodmore($("#comments")));

        //show first page automaticly afetr page load
        $("document").ready(function() {
            setTimeout(function() {
                $("a.js-load").trigger('click');
            },10);

        });

    </script>
{% endblock %}