{% extends 'base.html.twig' %}

{% block title %}Tricks - {{ parent() }} {% endblock %}

{% block body %}
    <div class="container trick-blog">
        <div class="row d-flex justify-content-center" id="default-illustration">
            <h3 id="trick-title">{{ trick.title|title }}</h3>
            {% set illustration = trick.illustrations|first %}
            <img id="default-img-trick"  src="{% if illustration%} {{ asset('images/'~illustration.filename) }} {% else %} {{ asset('images/illustration-default.png') }} {% endif %} " width="100%" height="480px" alt="default illustration" class="rounded">
            {% if app.user %}
                <div id="btns-img-0" class="row mt-2">
                    <a href="{{ path('trick.edit', {slug: trick.slug, id: trick.id}) }}" id="default-edit" class="btn btn-success">
                        <i class="fa fa-pencil"></i>
                    </a>
                    {% if app.user == trick.author  %}
                        <form method="post" action="{{ path('trick.delete', {id: trick.id}) }}"  class="d-inline-block" data-trick-title ="{{ trick.title }}" id="confirm-del-trick">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button class="ml-1 btn btn-danger float-right"><i class="fa fa-trash"></i></button>
                        </form>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="fa fa-2x fa-window-close" style="color: red"></i></span><span class="sr-only"></span></button>
                        <img src="" class="imagepreview">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-6 mt-5">
                <div class="MultiCarousel" data-items="1,1,1,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                    <div class="MultiCarousel-inner">
                    {% if trick.illustrations %}
                        {% for illustration in trick.illustrations%}
                            <div class="col-md-4 item text-center">
                                <a class="pop">
                                    <img width="130" height="120"  src="{{ asset('images/'~illustration.filename) }}" alt="{{ illustration.oldname }}" >
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <button class="btn btn-primary leftLst"><i class="fa fa-step-backward text-white"></i></button>
                    <button class="btn btn-primary rightLst"><i class="fa fa-step-forward"></i></button>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <div class="MultiCarousel" data-items="1,1,1,3" data-slide="1" id="MultiCarousel"  data-interval="1000">
                    <div class="MultiCarousel-inner">
                    {% if trick.videos %}
                        {% for video in trick.videos%}
                            <div class="col-md-4 item text-center">
                                {{ video.embedCode | raw}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                    <button class="btn btn-warning leftLst"><i class="fa fa-step-backward text-white"></i></button>
                    <button class="btn btn-warning rightLst"><i class="fa fa-step-forward"></i></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="jumbotron py-1 w-100">
                <h3 class="my-heading mb-2"><span class="bg-main">D</span>ESCRIPTION</h3>
                <p class="h4">{{ trick.description }}</p>
                <h3 class="my-heading float-right">GROUPE:
                {% set groups = trick.groups %}
                {% for group in groups %}
                    <span class="bg-main mr-1">{{ groups }}</span>
                {% endfor %}
                </h3>
            </div>
        </div>
        <div>
            {%  include 'partials/_infos.html.twig'%}
        </div>
        <hr class="my-border"/>
        {% if app.user %}
            <div id="my-error-comment" class="row">
                <div class="col-md-8 offset-md-1">
                    {{ form_start(comment_form, {'action': path('add_comment', {id: trick.id}),'attr': {'id': 'formsComment'}}) }}
                    <div class="row">
                        <div class="col-sm-12">{{ form_widget(comment_form) }}</div>
                        <div class="col-sm-12 w-100">
                            <button type="submit" id="add-comment" name="btn-1" class="btn btn-info btn-block font-weight-bolder ">Commentez</button>
                        </div>
                    </div>
                    {{ form_end(comment_form) }}
                </div>
                <div id="titre-evaluation" class="col-md-2">
                    {{ form_start(rating_form) }}
                    <div class="row d-inline-flex">
                        <div class="col-sm-5 pr-0 mt-5 ">{{ form_widget(rating_form) }}</div>
                        <div class="col-sm-7 pl-0 mt-5">
                            <button type="submit" class="btn btn-warning m-0 font-weight-bolder text-white">Evaluez</button>
                        </div>
                    </div>
                    {{ form_end(rating_form) }}
                </div>
            </div>
            <hr class="my-border"/>

        {% else %}
            <div class="row">
                <div class="jumbotron py-1 w-100">
                    <h3 class="my-heading mb-2"><span class="bg-main">I</span>NFORMATION</h3>
                    <p class="text-center">
                        Aimeriez-vous partager vos souvenir, connectez-vous avec d'autres et faire des nouveaux amis ou même évaluer les figures et créer vos propres figures <a class="" href="{{ path('security.register') }}">rejoinez-nous</a> et <a class="" href="{{ path('security.login') }}">restez en-ligne</a></p>
                </div>
            </div>
        {% endif %}
            <div id="titre-discussions" class="my-5 text-center">
                {%  if trick.comments|length > 0 %}
                    <h3 class="my-heading mb-2"><span class="bg-main">E</span>SPACE DE DISCUSSION</h3>
                {% else %}
                    <span class="js-no-comment"><h3 class="my-heading mb-2"><span class="bg-main">A</span>UCUN COMMENTRAIRE...</h3></span>
                {% endif %}
            </div>
            <div id="comments" class="load-content wow fadeInLeft" data-wow-duration="4s" data-pages = {{ pagination.pages }}></div>
            {% if pagination.pages > 1 %}
                {{ pagination.display() }}
            {% endif %}
        <div class="mb-5"></div>
    </div>
{% endblock %}

{% block javascripts%}
    {{ encore_entry_script_tags('carousel') }}
    {{ encore_entry_script_tags('loadMore') }}
    {{ encore_entry_script_tags('comments') }}
{% endblock %}